@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";   
/* semicolon is must or else error will come */

*{
    margin: 0px;
    padding: 0px;
    font-family: "Kanit", sans-serif;
}