<app-header></app-header>
<div class="container d-flex" style="height: 400px; background: linear-gradient(to right, rgb(25 135 84) 0%, rgb(25 135 84) 50%, white 50%, white 100%);">
    <div class="left" style="flex: 1;">
        <img style="width: 450px; height: 400px; margin-left: 100px;" src="https://images.squarespace-cdn.com/content/v1/599efce9ff7c50af933a91c7/1595446451894-2DOYTNQFR8VIR0VG111U/Vegetables.png" alt="">
    </div>
    <div class="right align-items-center d-flex" style="flex: 1; justify-content: left;">
        <div class="w-75 ps-3">
            <h1>Welcome To CookPedia</h1>
            <p class="text-align:justify">Discover 100+ recipes in your hand with
                the best recipe. Help you to find the
                easiest way to cook.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center justify-content-center" style="height: 450px;">
        <div class="col-lg-6" style="text-align: justify; padding-left: 200px;">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est enim dolore iste. Molestias maiores, veniam explicabo dignissimos facilis, est non suscipit eligendi a, esse temporibus accusamus impedit assumenda soluta natus!</p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Est enim dolore iste molestias maiores</li>
                <li>Lorem ipsum dolor sit amet consectetur</li>
                <li>Est enim dolore iste molestias maiores</li>
            </ul>
            <a routerLink="/all-recipes" style="background-color: rgb(25 135 84);" class="btn text-light mt-3">Know More About Us</a>
        </div>
        <div class="col-lg-6">
            <img style="width: 450px; height: 400px; margin-left: 100px;" src="https://img.freepik.com/free-photo/chef-holding-vegetables_1368-3134.jpg?t=st=1733547355~exp=1733550955~hmac=11ca25a7bf1fb3cd330e5028c673cd9e09f46a558a7937b61d92dd52519d202f&w=740" alt="">
        </div>
    </div>
</div>
<app-footer></app-footer>
